<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>93312283448-78dimjfpvokduhv244k8i07fd2b0qfrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.93312283448-78dimjfpvokduhv244k8i07fd2b0qfrc</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>93312283448-26i7napgb7r6tvj7dkkmjdj5p2md1bq1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBn1JwEpwqkM0oj9ZBNQXlZ3nOsv7yVXPg</string>
	<key>GCM_SENDER_ID</key>
	<string>93312283448</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.neighbor.ridingpartner.ridingpartnerFlutter</string>
	<key>PROJECT_ID</key>
	<string>riding-partner-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>riding-partner-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:93312283448:ios:8d58951ef8bcd8ce4107cd</string>
	<key>DATABASE_URL</key>
	<string>https://riding-partner-flutter-default-rtdb.asia-southeast1.firebasedatabase.app</string>

</dict>
</plist>